doctype html
html.uk-height-1-1
  head
    meta(charset="utf-8")
    title OnePlus Invites / OnePlus 2 Invites / OnePlus Two Invites
    link(rel="stylesheet", href="/css/styles.css")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  body.uk-height-1-1
    ul.phone-background.uk-slideshow.uk-slideshow-fullscreen.uk-hidden-touch(data-uk-slideshow="{autoplay:true,animation:'puzzle',pauseOnHover:false,slices:10}")
      li
        img(src="/img/oneplus/overview-topic-img.png", alt="OnePlus 2 Invites")
      li
        img(src="/img/oneplus/design-topic-img.png", alt="OnePlus 2 Invites")
      li
        img(src="/img/oneplus/style-swap-sandstone-black.png", alt="OnePlus 2 Invites")
      li
        img(src="/img/oneplus/style-swap-bamboo.png", alt="OnePlus 2 Invites")
      li
        img(src="/img/oneplus/style-swap-apricot.png", alt="OnePlus 2 Invites")
      li
        img(src="/img/oneplus/style-swap-rosewood.png", alt="OnePlus 2 Invites")
      li
        img(src="/img/oneplus/style-swap-kevlar.png", alt="OnePlus 2 Invites")
      li
        img(src="/img/oneplus/notifications-img.png", alt="OnePlus 2 Invites")
      li
        img(src="/img/oneplus/fingerprint-unlock-img.png", alt="OnePlus 2 Invites")
      li
        img(src="/img/oneplus/truly-colors-img.png", alt="OnePlus 2 Invites")
      li
        img(src="/img/oneplus/camera-topic-img.png", alt="OnePlus 2 Invites")
    block content
    script(src='#{files.vendor.js}')
    script(src='#{files.main.js}')
    script(type="text/javascript").
      /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","salesapps.zendesk.com");/*]]>*/