extends layout

block content
  div.main.uk-container
    div.uk-panel-box.uk-margin-top
      if password
        p #[strong Login:] #{login} #[strong Password:] #{password} #[a(href="https://account.oneplus.net") account.oneplus.net]
      else
        p 1. You need to register a #[strong new account] #[a(href="https://account.oneplus.net/sign-up") here (account.oneplus.net)] on this email #[strong #{login}]
        p 2. You will receive a confirmation e-mail. In the next few minutes. Check email with subject #[strong "Account Confirmation"], click link.
        p 3. After that you can activate an invite from emails(check email with subject #[strong "You’re invited"]) to #[strong this NEW ACCOUNT].
        p 4. And then change email to what you want (Oneplus.net does not immediately update the email address to the new one).
        p #[a(href="https://oneinvites.com/manual") Instruction with pictures]
        p Below is #[strong INBOX] of #[strong #{login}]. All emails to #[strong #{login}] will come here.
    div.uk-panel-box.uk-margin
      table.uk-table
        caption
        thead
          tr
            th Sender
            th Subject
            th Date
         tbody
           each val in emails
             tr
               td
                 a(href="/mail/#{hash}/inbox/#{val._id}")
                   =val.from
               td
                 a(href="/mail/#{hash}/inbox/#{val._id}")
                   =val.subject
               td
                 a(href="/mail/#{hash}/inbox/#{val._id}")
                   =val.created_at
