extends layout

block content
  div.main.uk-container
    div.uk-panel-box.uk-margin-top
      if password
        p #[strong Login:] #{login} #[strong Password:] #{password} #[a(href="https://account.oneplus.net") account.oneplus.net]
      else
        p 1. You need to register an account #[a(href="https://account.oneplus.net") here (account.oneplus.net)] on this email #[strong #{login}]
        p 2. After that you can activate an invite from emails(check top email with subject "You’re invited") to this account.
        p 3. And then change email to what you want.
        p Below is inbox. All email to #[strong #{login}] will come here.
    div.uk-panel-box.uk-margin
      table.uk-table
        caption
        thead
          tr
            th Sender
            th Subject
            th Date
         tbody
           each val in emails
             tr
               td
                 a(href="/mail/#{hash}/inbox/#{val._id}")
                   =val.from
               td
                 a(href="/mail/#{hash}/inbox/#{val._id}")
                   =val.subject
               td
                 a(href="/mail/#{hash}/inbox/#{val._id}")
                   =val.created_at
